body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.flexible-div{
    display: flex;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
span{
    color: yellow;
}
h1{
    font-size: 50px;
}
h3{
    font-size: 20px;
}
.half{
    width: 50%;
    padding-left: 5%;
}
.half img{
    width: 80%;
}
section{
}
.button{
    text-decoration: none;
    background-image: linear-gradient(yellow, red);
    padding: 5px 10px;
    border-radius: 5px;
}
.dream-half{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    /* background-position-x: 150px;
    background-position-y: 200px; */
    background-position: right;
    background-position-y: 0;
}
.flexible-experience{
    display: flex;
}
.experience{
    margin-bottom: 50px;
}
.experience-item{
    width: 40%;
    margin: 0% 5% 0% 5%;
    border-radius: 10px;
    padding: 0px 2px 0px 40px;
    margin-bottom: 30px;

    box-shadow: 2px 3px 40px grey;
}
.experience-item h2{
    font-size: 40px;
}
.experience-item h3{
    font-size: 20px;
}
#full-stack-id{
    /* border-left: 10px solid rgb(221, 224, 33); */
    border-left: 10px solid;
    border-image: linear-gradient(red,orange);
    border-image-slice: 2;
}
#junior-id{
    /* border-left: 10px solid rgb(23, 131, 231); */
    border-left: 10px solid;
    border-image: linear-gradient(green, yellow);
    border-image-slice: 3;
}
footer{
    text-align: center;
}